extends layout/layout

block content
    article.page
        h1.title 关于Coolde
        div.entry-content
            h2 Coolde的来历
            p Coolde，中文翻译"酷的"。
            p 来源完全是自己走路的时候脑海中突然闪过的一个念头，决定使用Node.js完成毕业设计的时候苦苦不知道该如何开始，Node.js可以脱离浏览器在服务器端运行，简直是太酷了！所以不如就把这个个人网站称为"酷的"吧，再给加一个洋气的英文名，Coolde就这样诞生了！

            h2 我是谁
            p <b>中文名：</b>李 驰 <br>
              <b>英文名：</b>Norton Li <br>
            p <b>工作经验：</b>
            div.about
                ul
                    li 2014.3 ~ 至今<span>BeyondSoft</span><span>.Net软件开发攻城狮</span>
                    li 2012.6 ~ 2014.3<span>Newegg</span><span>.Net程序猿</span>
                    li 2009.9 ~ 2012.6<span>西安理工大学</span><span>计算机应用技术</span>
            h2 如何联系我
            p QQ：957 657 843
            p E-mail：<a href=mailto:lizard@yeah.net">lizard@yeah.net</a>