html
  head
    meta(name="baidu-site-verification",content="ArTidSY7Ks")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")
    meta(name="keywords" content="酷的,coolde,norton li,@norton")

    title  关于Coolde - Coolde @Norton Li

    link(rel='stylesheet',href='/blogcss/swiper-3.4.1.min.css')
    link(rel='stylesheet',href='/blogcss/animate.css')
    link(rel='stylesheet',href='/blogcss/screen.css')

    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/wow.min.js')
    script(src='/javascripts/echart/echarts.min.js')
    script(src='/javascripts/echart/dataTool.js')
    script(src='/javascripts/swiper/swiper-3.4.1.min.js')
    script(src='/javascripts/swiper/swiper.animate1.0.2.min.js')
    script(src='/javascripts/about.js')

body
    img(src='/img/logo.png', style="width:0px;height:0px;overflow:hidden; display:block;")
    div.swiper-container.coolde-about-background(data-swiper-parallax="-23%" data-swiper-parallax-duration="3000")
            div.swiper-wrapper
                div.swiper-slide
                    div(data-swiper-parallax="-100")
                        div.swiper-content
                            div.coolde-content
                                h2.coolde-white 欢迎访问Coolde
                div.swiper-slide
                    div(data-swiper-parallax="-100")
                        div.swiper-content
                            div.coolde-title
                                h2.coolde-white Coolde的来历
                            div.coolde-text
                                p Coolde，中文翻译"酷的"。
                                p 来源完全是自己走路的时候脑海中突然闪过的一个念头，决定使用Node.js完成毕业设计的时候苦苦不知道该如何开始，Node.js可以脱离浏览器在服务器端运行，简直是太酷了！所以不如就把这个个人网站称为"酷的"吧，再给加一个洋气的英文名，Coolde就这样诞生了！
                div.swiper-slide
                    div(data-swiper-parallax="-100")
                        div.swiper-content
                            div.coolde-title
                                h2.coolde-white 我是谁
                            div.coolde-text-center
                                p 李驰
                                p Norton Li
                div.swiper-slide
                    div(data-swiper-parallax="-100")
                        div.swiper-content
                            div.coolde-title
                                h2.coolde-white 工作经验
                            div.sub-swiper-container
                                div.swiper-wrapper
                                    div.swiper-slide.slide-margin-top
                                        div.experice-text.ani(swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s")
                                            p 2016.8 - 至今
                                            p Yamibuy
                                            p 前端开发
                                    div.swiper-slide.slide-margin-top
                                        div.experice-text.ani(swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s")
                                            p 2015.4 - 2016.8
                                            p 要买车
                                            p .Net高级开发
                                    div.swiper-slide.slide-margin-top
                                        div.experice-text.ani(swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s")
                                            p 2014.3 - 2015.4
                                            p BeyondSoft
                                            p .Net开发
                                    div.swiper-slide.slide-margin-top
                                        div.experice-text.ani(swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s")
                                            p 2012.6 - 2014.3
                                            p Newegg
                                            p .Net开发
                                    div.swiper-slide.slide-margin-top
                                        div.experice-text.ani(swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s")
                                            p 2011.9 - 2012.2
                                            p 天网软件
                                            p 实习生
                div.swiper-slide
                    div(data-swiper-parallax="-100")
                        div.swiper-content
                            div.coolde-title
                                h2.coolde-white 工作技能
                            div.coolde-text-center
                                div#konwlege-echart

                div.swiper-slide
                    div(data-swiper-parallax="-100")
                        div.swiper-content
                            div.coolde-title
                                h2.coolde-white 联系我
                            div.coolde-text
                                p 微信/QQ：957 657 843
                                p E-mail：lizard@yeah.net
                                p <a href="http://www.cnblogs.com/caoming/" target="_blank">博客园</a>
                                p <a href="https://github.com/NortonLee" target="_blank">Github</a>
                    div.v3-footer.wow.animated.fadeInUp
                        a(href="/") 返回首页
                        p.text-muted Copyright &copy;2015-!{(new Date()).getFullYear()} by Norton Li
            div.array-image
                img#array.resize(src="images/arrow.png")