extends ../layout/layout.admin
    
block content
    h1 
        a(href='/topic/create') 新建文章
        
    - if(typeof(topics) !== 'undefined' && topics.length > 0){
        p #{topics}
    - }else{
        div.inner
            p 无内容
    - }
        