doctype 
html
  head
    meta(name="baidu-site-verification",content="ArTidSY7Ks")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")
    meta(name="keywords" content="酷的,coolde,norton li,@norton")
    - if (typeof(title) == 'undefined')
        title Coolde, Norton's Yard
    - else 
        title= title + " — Coolde @Norton Li"

    link(rel='stylesheet',href='/blogcss/swiper-3.4.1.min.css')
    link(rel='stylesheet',href='/blogcss/animate.css')
    link(rel='stylesheet',href='/blogcss/screen.css')

    // include default scripts and any view scripts
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/modernizr.js')
    script(src='/javascripts/slash.js')
    script(src='/javascripts/wow.min.js')
    script(src='/javascripts/swiper/swiper-3.4.1.jquery.min.js')
    script(src='/javascripts/swiper/swiper.animate1.0.2.min.js')
    
    script(src='/libs/editor/editor.js')
    script(src='/libs/webuploader/webuploader.withoutimage.js')
    script(src='/libs/editor/ext.js')
    script(src='/libs/markdownit.js')
    script(src='/javascripts/baidu.js')
    
    block head
    
  body
      img(src='/img/logo.png', style="width:0px;height:0px;overflow:hidden; display:block;")
      div.container
        div.left-col
            div.intrude-less
                header(id='header',class='inner')
                    div(class='profilepic')
                        div.profile-animation
                    hgroup
                        h1
                            <a href='/'>Coolde</a>
                        h2 
                            <a href='/admin'> 酷的
                    nav(id='main-nav')
                        ul(class='main-navigation')
                            li
                                <a href='/blog'>博文</a>
                            li
                                <a href='/life'>杂感</a>
                            li
                                <a href='/music'>音乐</a>
                            li
                                <a href='/movie'>电影</a>
                            li
                                <a href='/about'>关于</a>
                        section(class='copyright')
                            p <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255344755'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1255344755%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>  &copy; 2015-!{(new Date()).getFullYear()} by <a href='/about'>Norton Li</a>
        <div class="right-col">
        - if(typeof('cps') !== 'undefined' && cps){
                !{cps.html_content}
        - }
        </div>
        div(class="mid-col")
            div(class="mid-col-container")
                div#content.inner
                        block content

        script(type='text/javascript').
            new WOW().init();