doctype 
html
  head
    - if (typeof(title) == 'undefined')
        title Coolde, Norton's Yard
    - else 
        title= title + " - Coolde后台管理"
        
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
    link(rel='stylesheet', href='/stylesheets/editor.css')
    link(rel='stylesheet', href='/stylesheets/manager.css')
    link(rel='stylesheet', href='/libs/webuploader/webuploader.css')
    link(rel='stylesheet', href='/libs/code-prettify/prettify.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.css')
    
    script(src='/libs/editor/editor.js')
    script(src='/libs/webuploader/webuploader.withoutimage.js')
    script(src='/libs/editor/ext.js')
    script(src='/libs/markdownit.js')
    
    // include default scripts and any view scripts
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/modernizr.js')
    script(src='/javascripts/slash.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/plupload-2.1.2/plupload.full.min.js')
    block head
    
  body
    div.navbar.navbar-inverse.navbar-fixed-top
        div.container
            div.navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/") Coolde
            - if(user)
                div.navbar-collapse.collapse
                    
                    ul.nav.navbar-nav
                        li
                            a(href='/manager') 后台首页
                        li
                            a(href='/topic/create') 新建文章
                        li
                            a(href='/manager/account') 账户管理
                    ul.nav.navbar-nav.navbar-right
                        li
                            <a href='/logout'>退出</a>
    div.container.body-content
        block content
    div.footer
        p.text-muted Copyright &copy;2015 - Norton Li